:root {
  --color-gallery: #eee;
  --color-gray: #ccc;
  --color-spanish-green: #7F8E7C;
  --color-mantis: #7FC072;
  --color-zombie: #E6E69F;
  --color-blue-bayoux: #67747C;

  --mobile-size: 768px;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: #f3f7f9;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cf {
  color: #fff;
}

.m0 {
  margin: 0;
}

.m0a {
  margin: 0 auto;
}

.p0 {
  padding: 0;
}

.lsn {
  list-style: none;
}

.bg-gallery {
  background-color: var(--color-gallery);
}

.color-gallery {
  color: var(--color-gallery);
}

.bg-blue-bayoux {
  background-color: var(--color-blue-bayoux);
}

.color-blue-bayoux {
  color: var(--color-blue-bayoux);
}

.border-mantis {
  border: 2px solid var(--color-mantis);
}

.color-mantis {
  color: var(--color-mantis);
}

.bg-mantis, .bg-success {
  background-color: var(--color-mantis);
}

.color-zombie {
  color: var(--color-zombie);
}

.border-zombie {
  border: 2px solid var(--color-zombie);
}

.bg-zombie, .bg-notRecord {
  background-color: var(--color-zombie);
}

.nowrap {
  white-space: nowrap;
}

.f12 {
  font-size: 12px;
}

.f13 {
  font-size: 13px;
}

.f14 {
  font-size: 14px;
}

.f1r {
  font-size: 1rem;
}

.f2r {
  font-size: 2rem;
}

.f3r {
  font-size: 3rem;
}

.mt5 {
  margin-top: 5px;
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.fx1 {
  flex: 1;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

.jcsa {
  justify-content: space-around;
}

.jce {
  justify-content: end;
}

.aic {
  align-items: center;
}

.Page {
  flex: 1;
  padding: 20px;
}

.Page > .block {
  background-color: #fff;
  margin-bottom: 20px;
}

.Page > .block > .title,
.Page > .block > .header > .title,
.Page > .block > .header > .title + *
{
  margin: 0;
  padding: 15px 17px 0;
}

.Page > .block > .header {
  display: flex;
  justify-content: space-between;
}

.Page > .block > .search-form {
  padding: 10px 17px;
}

.Page > .block > .search-form input {
  padding: 10px;
  outline: none;
  border: 1px solid #ddd;
  width: -webkit-fill-available;
}

.Page > .block > .wrap {
  padding: 15px;
}

.cp {
  cursor: pointer;
}

.ml5 {
  margin-left: 5px;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.w300 {
  width: 300px;
}

.bgsc {
  background-size: cover;
}

.bgpc {
  background-position: center;
}

.color-mantis {
  color: var(--color-mantis);
}

.wp100 {
  width: 100%;
}

.bsbb {
  box-sizing: border-box;
}

.break {
  flex-basis: 100%;
  height: 10px;
}

.fww {
  flex-wrap: wrap;
}

.fg1 {
  flex-grow: 1
}

.fbp50 {
  flex-basis: 50%;
}

.mwp50 {
  max-width: 50%;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.ova {
  overflow: auto;
}

.ovh {
  overflow: hidden;
}

.jcsb {
  justify-content: space-between;
}

.p10 {
  padding: 10px;
}

.ph20 {
  padding: 0 20px;
}

.mono-font {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

/* table */
.Page > .block > table {
  width: 100%;
  color: var(--color-blue-bayoux);
  border-spacing: 0;
  table-layout: fixed;
}

.Page > .block > table a {
  color: var(--color-blue-bayoux);
  font-weight: bold;
  text-decoration: none;
}

.Page > .block > table th:first-of-type,
.Page > .block > table td:first-of-type{
  padding-left: 20px;
}

.Page > .block > table th:last-of-type,
.Page > .block > table td:last-of-type {
  padding-right: 20px;
  text-align: right;
}

.Page > .block > table th {
  text-align: left;
  font-weight: bold;
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
}

.Page > .block > table td {
  padding: 5px 10px;
  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Page > .block > table > tfoot td {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #eee;
}

/* record bar */
.record-bar {
  height: 10px;
  display: flex;
  position: relative;
  border-radius: 2px;
  background-color: var(--color-gallery);
}

.record-bar > * {
  height: 100%;
  position: relative;
  z-index: 0;
  display: inline-block;
  transition: width .3s;
}

.record-bar > *:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.record-bar > *:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.record-bar > *:before, .record-bar > *:after {
  left: 50%;
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
}

.record-bar > *:hover:before {
  top: 20px;
  width: 90px;
  color: #fff;
  font-size: 14px;
  padding: 2px 5px;
  text-align: center;
  border-radius: 3px;
  content: attr(data-text);
  background-color: var(--color-spanish-green);
}
.record-bar > *:hover:after {
  top: 14px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent var(--color-spanish-green) transparent;
}

.record-bar .success {
  background-color: var(--color-mantis);
}

.record-bar .success:hover {
  background-color: var(--color-mantis);
  filter: brightness(0.85);
}

.record-bar .notRecord {
  background-color: var(--color-zombie);
}

.record-bar .notRecord:hover {
  background-color: var(--color-zombie);
  filter: brightness(0.85);
}

/* pagination */
.pagination {
  display: flex;
  gap: 10px;
}

.pagination a {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-blue-bayoux);
}

/* Modal */
.ModalBG {
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(57,64,68,.7);
}

.ModalBG .Modal {
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.ModalBG .Modal .title {
  font-size: 20px;
  font-weight: 700;
}

.input {
  outline: none;
  padding: 5px 7px;
  border-radius: 3px;
  border: 2px solid var(--color-gray);
}

.input:focus {
  border-color: var(--color-blue-bayoux);
}

.btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(0.85);
}

.btn.primary {
  border: none;
  color: #fff;
  background-color: var(--color-blue-bayoux);
}

@media screen and (max-width: 768px) {
  .xs\:df {
    display: flex;
  }
  .xs\:db {
    display: block;
  }
  .xs\:fx1 {
    flex: 1;
  }
  .xs\:jcsb {
    justify-content: space-between;
  }

  .xs\:p10 {
    padding: 10px;
  }

  .xs\:fbp100 {
    flex-basis: 100%;
  }
  
  .xs\:mwp100 {
    max-width: 100%;
  }

  .xs\:fdc {
    flex-direction: column;
  }

  .Page {
    padding: 0;
  }

  .Page > .block > .header {
    text-align: center;
    flex-direction: column;
  }

  .Page > .block > .header > .pagination{
    margin: 0 auto;
  }
}