.frame {
  min-height: 100%;
  display: flex;
}

.frame .app {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.frame:before,
.frame:after {
  flex: 1;
  content: '';
}

.frame:before,
.frame .app .menu {
  background-color: #67747c;
}

.frame.DEV:before,
.frame.DEV .app .menu {
  background-color: #7c8b67;
}

.frame .app .menu {
  z-index: 1;
  min-width: 200px;
  text-align: center;
  padding-top: 1.5rem;
}

.frame .app .menu .system-name {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  display: inline-block;
}

.frame .app .menu #hamburger-menu {
  width: 20px;
  height: 20px;
  display: none;
  margin-right: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.frame .app .menu #hamburger-menu:before,
.frame .app .menu #hamburger-menu:after {
  content: '';
  width: 100%;
  height: 4px;
  display: flex;
  background-color: #fff;
}

.frame .app #hamburger {
  display: none;
}

.frame .app .menu .user-info .avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 100%;
  border: 4px solid #fff;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.frame .app .menu .user-info .name {
  margin-top: 10px;
}

.frame .app .menu .user-info .logout {
  width: 60px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px auto 10px;
  font-family: Noto Sans TC,sans-serif;
  background-color: #505a60;
}

.frame .app .menu,
.frame .app .menu a {
  color: #fff;
}

.frame .app .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.frame.DEV .app .menu .info {
  background-color: #7c8b67;
}

.frame .app .menu ul li a {
  display: block;
  padding: 6px 0;
  text-decoration: none;
}

.frame .app .menu ul li a:hover {
  background-color: rgba(153,173,186,.2);
}

@media screen and (max-width: 768px) {
  .xs\:r0 {
    right: 0;
  }

  .xs\:t0 {
    top: 0;
  }

  .xs\:pf {
    position: fixed;
  }

  .xs\:h100vh {
    height: 100vh;
  }

  .frame .app .menu {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
  }

  .frame .app .menu:before {
    content: '';
  }

  .frame .app .menu:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0, .8);
  }

  .frame .app .menu .system-name {
    margin-bottom: 0;
  }

  .frame .app .menu .info {
    transform: translateX(100%);
    transition: transform .25s;
    z-index: 1;
    padding-top: 30px;
  }

  .frame .app .menu #hamburger-menu {
    display: flex;
  }

  .frame .app #hamburger:checked ~ .menu .info {
    transform: translateX(0);
  }

  .frame .app #hamburger:checked ~ .menu:after {
    display: block;
  }

  .frame .app .menu ul li {
    padding: 0 30px;
  }

  .frame .app .menu + .Page {
    margin-top: 44px;
  }
}