.HomePage .block {
  background-color: #fff;
  margin-bottom: 20px;
}

.block > .title {
  margin: 0;
  padding: 15px 17px 0;
}

.block > table {
  width: 100%;
  color: #67747c;
  border-spacing: 0;
}

.block > table a {
  color: #67747c;
  font-weight: bold;
  text-decoration: none;
}

.block > table th:first-of-type,
.block > table td:first-of-type{
  padding-left: 20px;
}

.block > table th:last-of-type,
.block > table td:last-of-type {
  padding-right: 20px;
  text-align: right;
}

.block > table th {
  text-align: left;
  font-weight: 400;
  padding: 8px 10px;
  border-bottom: 1px solid #eee;
}

.block > table td {
  padding: 5px 10px;
}

.block > table > tfoot td {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #eee;
}