.ttxp100 {
  transform: translateX(100%);
}

.ttxp-100 {
  transform: translateX(-100%);
}

.ttyp-100 {
  transform: translateY(-100%);
}

.tt150ms {
  transition: transform .15s;
}

.RecordPage .toggle-block input {
  display: none;
}

.RecordPage .toggle-block label {
  
}

.RecordPage .toggle-block input:checked + label {
  color: #fff;
  background-color: var(--color-blue-bayoux);
}

.RecordPage ul.sum-num li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 100%;
}

.RecordPage ul.sum-num li:nth-of-type(1):before {
  background-color: var(--color-mantis);
}

.RecordPage ul.sum-num li:nth-of-type(2):before {
  background-color: var(--color-zombie);
}

.RecordPage ul.sum-num li:nth-of-type(3):before {
  background-color: #eee;
}

.RecordPage ul.sum-num li:nth-of-type(4):before {
  background-color: #5693af;
}

.RecordPage ul.sum-num li+li {
  margin-left: 10px;
}

.RecordPage .item-list {
  padding: 20px;
}

.RecordPage .item-list .item {
  border: 1px solid #eee;
  box-sizing: border-box;
  width: calc(100% - 10px);
}

.RecordPage .item-list .item > div,
.RecordPage .item-list .item .last-record {
  padding: 5px 10px;
}
.RecordPage .item-list .item > div + * {
  border-top: 1px solid #eee;
}

.RecordPage .item-list .item .record-list {
  background-color: #eee;
}

.RecordPage .item-list .item .record-list .record {
  padding: 4px 0;
}
.RecordPage .item-list .item .record-list .record+.record {
  border-top: 1px solid #ccc;
}

.RecordPage .item-list .item .record-list .record .content {
  width: 70px;
}

.RecordPage .item-list .item .value {
  color: var(--color-blue-bayoux);
}

.RecordPage .item-list .item > input {
  display: none;
}

.RecordPage .item-list .item > form {
  bottom: 78px;
  background-color: #eee;
}

.RecordPage .item-list .item > form:nth-of-type(1) {
  background-color: #d9ebd5;
}

.RecordPage .item-list .item > form:nth-of-type(2) {
  background-color: #ededc6;
}

.RecordPage .item-list .item .toggle-record ~ .record-list .close {
  margin-right: -10px;
  padding: 5px 10px;
}
.RecordPage .item-list .item .toggle-record ~ .record-list .close span {
  color: #f00;
  margin: 0 6px;
  font-size: 20px;
}

.RecordPage .item-list .item .last-record {
  top: 0;
  right: 0;
  cursor: pointer;
}

.RecordPage .item-list .item .toggle-record:checked ~ .record-list {
  transform: translateY(0);
}

.RecordPage .item-list .item .toggle-success:checked ~ .success-form {
  transform: translateX(0);
}

.RecordPage .item-list .item .toggle-notRecord:checked ~ .notRecord-form {
  transform: translateX(0);
}

.RecordPage .item-list .item .toggle-success:checked ~ .btn-block > label:nth-of-type(1) {
  color: #fff;
  background-color: #9fd095;
}

.RecordPage .item-list .item .toggle-notRecord:checked ~ .btn-block > label:nth-of-type(2) {
  color: #fff;
  background-color: #dbdb77;
}

.RecordPage .break:nth-of-type(4n+2) {
  display: none;
}

@media screen and (max-width: 768px) {
  .RecordPage .break:nth-of-type(4n+2) {
    display: block;
  }
}